<a href="https://colab.research.google.com/github/juliussembiring/juliussembiring.github.io/blob/main/1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan ke-2

Selamat datang kembali di pertemuan ke-2 dalam kelas Python! Setelah pada sesi sebelumnya dikenalkan apa itu komputasi, kali ini peserta akan langsung mencoba salah satu bahasa pemograman untuk komputasi, yaitu Python. Untuk sesi ini, akan dibahas:
* Operasi dasar pada Python
* Variable
* String

Diharapkan setelah sesi ini peserta dapat mengenali dan menggunakan dasar Python dengan baik sebelum melanjutkan ke sesi selanjutnya.

# Basic Python Operations

## Introduction

Untuk sesi ini, anda akan mulai mempelajari Python. Python sendiri adalah bahasa yang cukup populer saat ini di berbagai bidang, terutama yang berhubungan dengan data. Mari kita coba dalami lebih lanjut.

### What is a Python Program?

* Python pertama kali dibuat oleh Guido van Rossum pada 1990. 
* Saat itu, Guido hanya membuat Python sebagai hobi saja. 
* Namun seiring berjalannya waktu, Python digunakan di berbagai bidang. 
* Salah satu alasannya adalah bahasa ini merupakan bahasa yang mudah untuk dibaca dan dipelajari.

Sekarang, mari kita coba memulai untuk mencoba Python di Jupyter Notebook! Coba jalankan kode di bawah ini dengan menekan `Shift+Enter`.

In [70]:
print("Halo Dunia!")

Halo Dunia!

Selamat, sekarang kamu sudah bisa menggunakan Python! Tentu saja ini masih belum cukup, namun tidak perlu khawatir, karena ingin ditekankan bahwa bahasa Python adalah bahasa yang cukup mudah untuk dipahami.

### What is Object in Python

* Ada beberapa jenis objek yang sering ditemui di python yaitu:

| Object Type  | Definisi                                                                              | Contoh                               |
|--------------|---------------------------------------------------------------------------------------|--------------------------------------|
| Numbers (float, integer)      | Angka (contoh: bilangan bulat, desimal, dll)                                          | 1, 100, 9999, 9.1                    |
| Strings      | Teks                                                                                  | 'ayam', 'bebek', 'ikan'              |
| Lists        | Kumpulan objek **DAN** dapat diedit                                                   | ['buku', 'pensil', 'pulpen']         |
| Tuples       | Kumpulan objek **DAN TIDAK** dapat diedit                                             | (1, 'asik', 2, 'kopi')               |
| Set          | Kumpulan objek, tidak dapat diedit, **DAN** tidak boleh ada anggota yang duplikat     | {1, 2, 3, 4}                         |
| Dictionaries | Kumpulan objek dengan kunci dan tidak mengenal urutan                                 | {'makanan':'pizza', 'rasa':'mantap'} |

* Namun di pertemuan ini kita hanya akan fokus di angka(`float`,`integer`) dan `string`.
* Objek lainnya akan dibahas lebih dalam pada pertemuan-pertemuan selanjutnya.

Mari kita coba perlihatkan contohnya satu per satu.

Contoh: untuk angka, kita cukup mengetik tombol angka yang ada di keyboard kita seperti contoh berikut.

Contoh angka bilangan bulat (integer):

In [71]:
11

11

Untuk meyakinkan bahwa objek tersebut adalah angka, kita bisa mengecek dengan menggunakan fungsi `type`

In [72]:
type(1)

int

Terlihat bahwa hasilnya adalah int (integer), yang artinya adalah betul bahwa objek tersebut merupakan objek angka.

Contoh lain dari bentuk angka yang sering ditemui adalah float:

In [73]:
3.14

3.14

In [74]:
type(3.14)

float

In [75]:
type(2.78)

float

---
**Exercise**

In [76]:
# Coba cek tipe dari angka 7
x = 7
type(x)

int

In [117]:
# Coba cek tipe dari angka 2.45
y = 2.45
type(y)

float

---
Bisa dicoba juga dengan contoh tabel di atas untuk mengecek sendiri nama-nama tipe objek di Python.

In [78]:
#tipe objek string
type('ayam')

str

In [79]:
#tipe objek list
type(['buku', 'pensil', 'pulpen'])

list

In [80]:
#tipe objek tuple
type((1, 'asik', 2, 'kopi'))

tuple

In [81]:
#tipe objek set
a = {1, 2, 3, 4}
a = {4, 2, 3, 4}
print(a)

{2, 3, 4}

In [82]:
#tipe objek dictionary
type({'makanan':'pizza', 
      'rasa'   :'mantap'})

dict

### Type Conversion

Yang akan dikenalkan di sini adalah mengubah suatu object Python menjadi:
- Angka (integer, float)
- String
- List
- Tuple
- Set

Misal, kita mempunyai sebuah objek string "1010", yang akan kita namakan sebagai `asik`.

In [83]:
asik = '1010'

Sekarang kita coba cek `asik` dengan cara print.

In [84]:
print(asik)

1010

Cek tipe objek dengan cara sebelumnya.

In [85]:
type(asik)

str

Oke, sudah tepat bahwa objek tersebut adalah string, tapi mungkin ada beberapa yang masih bertanya: mengapa angka 1010 dianggap sebagai string? Karena kita menggunakan tanda kutip (`"` atau `'`) sehingga Python mengganggap objek tersebut sebagai string.

Lalu, bagaimana untuk mengubah `asik` menjadi angka? Simpel, kita cukup menggunakan nama objek yang kita inginkan ke `asik`.

In [86]:
angka_asik = int(asik)

In [87]:
print(angka_asik)

1010

In [88]:
type(angka_asik)

int

Asik.

Selain integer, kita juga mengubah ke format angka lainnya yaitu float. Float sendiri bisa digunakan jika ingin menghadirkan desimal di angka yang kita punya. Ini juga akan sangat berguna jika nantinya diinginkan perhitungan yang lebih detail.

In [89]:
float(angka_asik)

1010.0

Dalam hal ini 1010 muncul sebagai 1010.0

Bagaimana jika `angka_asik` ingin dikembalikan ke `string`? Cukup dengan menggunakan `string`!

In [90]:
str(angka_asik)

'1010'

---
**Exercise**

In [91]:
# Konversi integer berikut menjadi float
7
float(7)

7.0

In [92]:
# Konversi float berikut menjadi integer
4.24
int(4.24)

4

In [93]:
# Konversi angka berikut menjadi string
2.35
str(2.35)

'2.35'

In [94]:
# Konversi string berikut menjadi angka
"2020"
int("2020")

2020

### Expression

Apa yang dimaksud dengan *expression*? Expression adalah hal yang merepresentasikan sesuatu, entah itu angka atau string. Jadi, `'1010'` di variabel `asik` adalah expression! Kemudian, yang dimaksud dengan `asik='1010'` adalah sebuah *statement* yang membuat `asik` mendapatkan value `'1010'`.

### Operators

Didalam sebuah expression, kita bisa menambahkan operator yang menggabungkan value lainnya. Berikut di bawah ini adalah beberapa operator yang dapat digunakan di Python.

| Operator                                       | Simbol |
|------------------------------------------------|--------|
| tambah                                         | +      |
| kurang                                         | -      |
| kali                                           | *      |
| pangkat                                        | **     |
| pembagian                                      | /      |
| pembagian (dengan output pembulatan kebawah)   | //     |
| hasil sisa pembagian                           | %      |

#### Tambah kurang kali bagi 

* Simbol untuk 4 operasi ini standar.
* Jika anda pernah memakai microsoft excel, operasinya sama.

Penambahan:

In [95]:
5+7

12

Pengurangan:

In [96]:
15-8

7

Perkalian:

In [97]:
2*6

12

Pembagian:

In [98]:
12/3

4.0

---
**Exercise**

In [118]:
# Hitunglah 8 ditambah 7
8+7

15

In [119]:
# Hitunglah 7 dikurang 10
x = 7 
y = 10
result = x-y
print(result)

-3

In [120]:
# Hitunglah 9 dikali 12
x = 9
y = 12
print(x*y)

108

In [121]:
# Hitunglah 11 dibagi 2
11/2

5.5

#### Pangkat

* Sedikit berbeda dengan bahasa pemrograman pada umumnya yang memakai `^` untuk pangkat.
* Python memakai simbol `**`.

In [103]:
10**3

1000

**Exercise**

In [122]:
# Hitunglah 3 kuadrat
3**2

9

In [123]:
# Hitunglah 2 pangkat 10
2**10

1024

In [106]:
# Hitunglah akar kuadrat dari 9
8**(1/3)

2.0

#### Floor division

* Simbol *floor division* adalah salah satu hal unik di Python.
* Kebanyakan bahasa lain membutuhkan fungsi tambahan.
* Namun dalam Python cukup dengan `//`
* Ini akan menghasilkan hasil pembagian dengan pembulatan kebawah.

In [107]:
5//2

2

**Exercise**

In [124]:
# Hitunglah floor division 7 dengan 3
7//3

2

In [125]:
# Hitunglah floor division 17 dengan 5
17 // 5

3

#### Modulo

* Operasi modulo menggunakan tanda `%`
* Di dalam pemrograman, operasi modulo akan menghasilkan sisa pembagian:

<img src="https://miro.medium.com/max/763/1*qNHqiDPc1ElQbdGfOIRXCw.jpeg" alt="Drawing" width= 500px;/>

<small>[Source](https://miro.medium.com/max/763/1*qNHqiDPc1ElQbdGfOIRXCw.jpeg)</small>

In [110]:
7 % 3

1

**Exercise**

In [126]:
# Hitunglah modulo 99 dengan 11
x = 99 
y = 11
print(x%y)

0

In [127]:
# Hitunglah modulo 17 dengan 3
17 % 3

2

####  Urutan Operasi

Setiap operasi di dalam python memiliki urutan dalam pengoperasiannya. Jika dalam satu ekpression terdapat lebih dari satu operasi, maka kode akan di eksekusi berdasarkan operasi yang lebih tinggi prioritasnya. Berikut tabel prioritas operasi dari operator yang telah di pelajari:
<br>
<br>

| Operator                                       | Simbol |
|------------------------------------------------|--------|
| Tanda Kurung                                   | ( )     |
| Pangkat                                        | **     |
| kali, bagi, pembagian (dengan output pembulatan kebawah), hasil sisa pembagian               | * , / , //, %       |
| Tambah, Kurang                                  | + , -      |

<br>
<br>

In [113]:
5 + 2 * 10

25

In [114]:
(5 + 2) * 2 ** 3

56

**Exercise**

In [128]:
#Hitung hasil operasi dari 12 % 5 ** 2 
12 % (5 ** 2)

12

In [129]:
#Hitung hasil operasi dari (3 + 26) % 5 ** 2 
(3 + 26) % 5 ** 2

4