<a href="https://colab.research.google.com/github/juliussembiring/juliussembiring.github.io/blob/main/26%20March%202022%20_%204_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Buatlah set berisi elemen yang sama dari kedua set
    * output = {30,40,50}

In [17]:
set_1 = {10, 20, 30, 40, 50}
set_2 = {30, 40, 50, 60, 70}

set_1.intersection(set_2)

{30, 40, 50}

2. Gabungkanlah 2 set tanpa ada duplikat
    * output = {10,20,30,40,50,60,70}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [18]:
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

3. Ambil nilai nama dari tiap elemen pada dictionary berikut

In [11]:
test_dict = {"08133333213": {"nama": "john", "usia": 50}, "081656512365": {"nama": "mike", "usia": 30}}

for i in test_dict:
  print("value:", test_dict[i])
  print()

value: {'nama': 'john', 'usia': 50}

value: {'nama': 'mike', 'usia': 30}

4. buat dictionary yang memiliki elemen dengan key dan value berupa angka dan frekuensi kemunculannya.
- Output: {"kadal": 2, "kambing": 3, "kuda": 4, "kerbau": 2}

In [8]:
list_dict = ["kadal","kambing","kuda","kerbau","kuda","kerbau","kambing","kuda","kadal","kambing","kuda"]
nama_binatang = {
  'kadal': 0,
  'kambing': 0,
  'kuda': 0,
  'kerbau': 0,
}
total_nama_binatang = 0

for karakter in list_dict:
  if karakter in ['kadal', 'kambing', 'kerbau', 'kuda']:
    nama_binatang[karakter] += 1
    total_nama_binatang += 1

print(f'Total karakter: {len(list_dict)}')
print(f'Total nama binatang: {total_nama_binatang}')
print(f"""\
  kadal -> {nama_binatang['kadal']}
  kambing -> {nama_binatang['kambing']}
  kuda -> {nama_binatang['kuda']}
  kerbau -> {nama_binatang['kerbau']}\
""")

Total karakter: 11
Total nama binatang: 11
  kadal -> 2
  kambing -> 3
  kuda -> 4
  kerbau -> 2

In [14]:
# Untuk mencari huruf vokal (notes)
teks = input('Tuliskan teks: ').lower()
dictionary_huruf_vokal = {
  'a': 0,
  'i': 0,
  'u': 0,
  'e': 0,
  'o': 0
}

for huruf_vokal in dictionary_huruf_vokal.keys():
  dictionary_huruf_vokal[huruf_vokal] = teks.count(huruf_vokal)
  total_huruf_vokal = sum(dictionary_huruf_vokal.values())
  print(f'Total karakter: {len(teks)}')
print(f'Total huruf vokal: {total_huruf_vokal}')
print(f"""\
  a -> {dictionary_huruf_vokal['a']}
  i -> {dictionary_huruf_vokal['i']}
  u -> {dictionary_huruf_vokal['u']}
  e -> {dictionary_huruf_vokal['e']}
  o -> {dictionary_huruf_vokal['o']}\
""")

Tuliskan teks: teks
Total karakter: 4
Total karakter: 4
Total karakter: 4
Total karakter: 4
Total karakter: 4
Total huruf vokal: 1
  a -> 0
  i -> 0
  u -> 0
  e -> 1
  o -> 0

5. Pak Maman adalah seorang wali kelas di sebuah SMA. Ia sedang merekap hasil ulangan siswa untuk mata pelajaran Matematika, Bahasa Inggris, dan Bahasa Indonesia. Sebagai tugas tambahan pak maman perlu mencari rata-rata nilai setiap siswa dari 3 mata pelajaran tersebut. 
    - buat sebuah elemen baru dalam dictionary dengan key 'rata-rata' dan value berupa list dari nilai rata-rata tiap siswa
    
   Output:
   
   hasil_ulangan = 
               {
                'nama' : ['Ani', 'Budi', 'Citra', 'Dion', 'Ezha'],
                'matematika' : [88, 78, 82, 90, 81],
                'b_inggris' : [92, 89, 84, 82, 87 ],
                'b_indo' : [90, 88, 86, 86, 81],
                'rata2': [90.0, 85.0, 84.0, 86.0, 83.0]
                }

In [6]:
hasil_ulangan = {
                'nama' : ['Ani', 'Budi', 'Citra', 'Dion', 'Ezha'],
                'matematika' : [88, 78, 82, 90, 81],
                'b_inggris' : [92, 89, 84, 82, 87 ],
                'b_indo' : [90, 88, 86, 86, 81]
                }

In [4]:
matematika = [45, 34, 10, 36, 12, 6, 80]
b_inggris = [92, 89, 84, 82, 87 ]
b_indo = [90, 88, 86, 86, 81]


avg = sum(matematika)/len(matematika)
print("The average is ", round(avg,2))

The average is  31.86

In [9]:
daftar_input = input('masukan list bilangan, pisahkan dengan tanda koma. contoh: 1,2,3,dst : ')
list_angka = daftar_input.split(',')
daftar_baru = [int(x) for x in list_angka]

jumlah = 0
for angka in daftar_baru:
    jumlah += angka
rata_rata = jumlah / len(daftar_baru)

print('Nilai rata-rata: {}'.format(rata_rata))
print('Jumlah total: {}'.format(jumlah))
print('Nilai Maximal inputan: {}'.format(max(daftar_baru)))
print('Nilai Minimal inputan: {}'.format(min(daftar_baru)))

masukan list bilangan, pisahkan dengan tanda koma. contoh: 1,2,3,dst : 1,5,6
Nilai rata-rata: 4.0
Jumlah total: 12
Nilai Maximal inputan: 6
Nilai Minimal inputan: 1

6. Buatlah fungsi rekursif yang menerima input N, dan menghitung jumlah bilangan ganjil dari 1 sampai N
contoh:
- N = 3, output = 1 + 3 = 4
- N = 5, output = 1 + 3 + 5 = 8

7. Buatlah fungsi rekursif yang menerima sebuah string berupa angka, yang kemudian mengecek apakah string tersebut merupakan palindrome.

Palindrome = urutan dari depan dan dari belakang sama

contoh: 
- input = "1221", output = True
- input = "12312", output = False