<a href="https://colab.research.google.com/github/juliussembiring/juliussembiring.github.io/blob/main/4_Problems_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Diberikan sebuah tuple sebagai berikut, ambil potongan tuple dari elemen ke-3 sampai elemen ke-8
    * Output: (53, 44, 64, 21, 94, 39)

In [2]:
Tuple_1 = (12,23,53,44,64,21,94,39,10,63,54,75,98,11)
from typing import Tuple
Tuple_1 = (12,23,53,44,64,21,94,39,10,63,54,75,98,11)
Tuple_1[2:8]

(53, 44, 64, 21, 94, 39)

2. Balik urutan dari tuple berikut:
    * output: `(55,45,35,25,15)`

In [3]:
tuple_2 = (15,25,35,45,55)
tuple_2 = (15,25,35,45,55)
tuple_2[::-1]

(55, 45, 35, 25, 15)

3. Diberikan sebuah list, urutkanlah list berikut secara alfabet:

expected output = `['apple','ball','covariance','determinant','exponential','factorization']`

In [4]:
list_1 = ['apple','covariance', 'ball', 'factorization', 'exponential', 'determinant']
list_1.sort(reverse=False)
print(list_1)

['apple', 'ball', 'covariance', 'determinant', 'exponential', 'factorization']

4. Diberikan sebuah list, ubahlah setiap elemennya menjadi nilai kuadratnya:
    * output: [4,9,16,25,36,49]

In [5]:
list_a = [2,3,4,5,6,7]
for i in range(len(list_a)):
  list_a[i]**= 2
list_a

[4, 9, 16, 25, 36, 49]

5. Buatlah list berisi deret fibonacci dari list yang disediakan, hingga jumlah elemen 15. 

    * Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [1]:
banyak_bilangan = int(input('masukan banyaknya bilangan: '))
count = 0
n1 = 0
n2 = 1
 
list_fibonacci = []
while count < banyak_bilangan:
   list_fibonacci.append(n1)
   bilangan_terakhir = n1 + n2
   n1 = n2
   n2 = bilangan_terakhir
   count += 1
   
print(list_fibonacci)

masukan banyaknya bilangan: 15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [11]:
list_1=[0,1]
for i in range(1,14):
  list_1.append(list_1[i] + list_1[i-1])
print(list_1)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

6. Diberikan sebuah list, hapuslah semua elemen bernilai 20 dari list berikut:

In [13]:
list1 = [5, 20, 15, 20, 25, 50, 20, 20, 25, 35, 65, 20, 30, 10, 20, 20]
while True:
  if (20 in list1): 
    list1.remove(20)
  else:
    break
print(list1)

[5, 15, 25, 50, 25, 35, 65, 30, 10]

7. Gabungkanlah kedua list yang berurutan secara index:
```
list1 = ["Sa", "su", "ma", "ta"] 
list2 = ["ya", "ka", "kan", "hu"]
```

output:
```
['Saya','suka','makan','tahu']
```

In [7]:
list1 = ["Sa", "su", "ma", "ta"] 
list2 = ["ya", "ka", "kan", "hu"]
zipped = zip(list1, list2)
print(list(zipped))

[('Sa', 'ya'), ('su', 'ka'), ('ma', 'kan'), ('ta', 'hu')]

In [16]:
list1 = ["Sa", "su", "ma", "ta"] 
list2 = ["ya", "ka", "kan", "hu"]
list3 = []

for i in range(len(list1)):
  list3.append(list1[i] + list2[i])
print(list3)

['Saya', 'suka', 'makan', 'tahu']