<a href="https://colab.research.google.com/github/juliussembiring/juliussembiring.github.io/blob/main/Problems%201%20(Week%202).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Lengkapi bagian yang diberi tanda `$$$$$` agar objek berikut dapat menjadi integer!

In [12]:
# $$$$$('1000')
y = '1000'
print(int(y))

1000

2. Adi sedang berbelanja barang di supermarket, dengan harga terlampir di bawah ini. Adi membeli 2 potong ayam, 3 potong daging sapi, 2 sayur bayam, dan 1 susu. Tuliskan biaya yang harus dibayar Adi sebagai operasi di bawah ini dan jalankan perhitungannya.

| barang      | harga  |
|-------------|--------|
| ayam        | 20000  |
| daging sapi | 100000 |
| sayur bayam | 10000  |
| susu        | 15000  |

In [18]:
# a = Ayam
# b = daging sapi
# c = sayur bayam
# d = susu

a = int(2*20000)
b = int(3*100000)
c = int(2*10000)
d = int(1*15000)

result = a+b+c+d
print(result)

375000

3. Tanpa menggunakan operator modulo `%`. Cobalah hitung modulo dari 19 dan 4.

hint: pakai floor division `//`

expected output = 3

In [21]:
# modulo dari 19 dan 4 tanpa menggunakan %
(19-4)//4

3

4. Cek isi variabel `y` ketika kalian masukkan `1+1000`. Apa yang akan terjadi? Kemudian ganti isi `y` dengan `42`.

In [30]:
y= 1+1000
print(y)
# akan menghasilkan jumlah sesuai dengan operasi aritmatika
y = 1001
y1 = 42
y = y1 
print(y)

1001
42

5. Misal anda sedang menghitung berapa banyak orang yang mengikuti kelas Pacmann. Kalian mengetahui bahwa untuk sesi pagi (`sesi_pagi`) dihadiri oleh 100 orang, dan sesi malam (`sesi_malam`) dihadiri oleh 60 orang.
   - Buatlah variabel sesi pagi dan malam dan isi banyaknya orang yang menghadiri sesi tersebut.
   - Kemudian, buatlah variabel `sesi_kelas` dengan menjumlah 2 variabel tersebut.
   - Misal ada 8 kali `sesi_kelas`. Ubah isi di dalam `sesi_kelas` dengan banyaknya orang dikali dengan banyak sesi tersebut.

In [38]:
sesi_pagi = 100 
sesi_malam = 60 
sesi_kelas = int(sesi_pagi + sesi_malam)
print(sesi_kelas)

# Jika ada 8 kali sesi_kelas 
total_sesi_kelas = 8*sesi_kelas
print(total_sesi_kelas)

160
1280

6. Buatlah variabel `saya` dengan string nama panggilan anda sebagai isinya. Kemudian tampilkan isi `saya` sehingga nama anda ditampilkan dengan huruf kapital.

In [44]:
saya ="julius"
print(saya.upper())

JULIUS

7. Stephan sedang mencoba untuk melamar sebuah pekerjaan. Dia menginput namanya di variabel `nama`. Namun, tanpa sadar dia salah mengetik nama depannya menjadi `stephan purnomo`. Lebih fatal lagi, ternyata dia lupa untuk membuat namanya memiliki huruf kapital di tiap kata.
    - Koreksi nama Stepan di variabel `nama_revisi` dengan menggunakan slicing dari `nama`. Output: `stepan purnomo`
    - Kemudian, buat `nama_revisi` sehingga tiap kata di dalam variabel tersebut memiliki huruf awal berkapital.

In [77]:
nama = 'stephan purnomo'
nama_revisi = nama[0:4] + nama[5:15]
print(nama_revisi.capitalize())

Stepan purnomo